header {
    color: white;
    font-weight: bold;
    background-color: #D60909;
    text-align: center;
    border-radius: 10px;
    }
    
h1 {
	font-family: 'Karla', sans-serif;
	font-size: 64px;
	}

ul {
     padding: 10px 10px 0 0;
     }

li {
    display: inline;
    font-size: 14px;
    margin-left: 10px;
    } 
    
a {
    text-decoration: none;
    color: white;
}
a:hover {
	color:yellow;
}

.catheader {
	text-align: center;
	}

body table {
	border-collapse: collapse;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	color: white;
	}
table tr {
		border-bottom: 1px dotted #414144;
		}

.total {
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	padding: 2px;
	margin: 5px;
	}
	
body {
	background:  url('../img/pizza.jpg');
	color: white;
	}
	
.order-list {
	float:right;
}

.order-list table tr td {
	padding: 0 3px;
}
